.attendanceBtn {
  width: 30%;
}
.topSection {
  display: flex;
  align-items: center;
  gap: 15px;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 15px 0;
}
@media (max-width: 767px) {
  .attendanceBtn {
    width: 75%;
  }
}
