.faculties,
.subjects {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  margin: 15px 0;
  transition: all 0.5s;
}

.manageButton {
  position: absolute;
  right: 10px;
  color: darkslategray;
  bottom: 5px;
  font-weight: 800;
  font-family: "Inter";
  text-decoration: underline;
}

.facultyCard {
  background-color: #f3f2f2;
  width: 200px;
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  padding: 15px 10px 30px;
  gap: 15px;
}

.subjectName,
.facultyName {
  align-self: center;
  font-family: "Inter";
  margin-bottom: 5px;
}
.subjectName {
  font-weight: 700;
  font-size: 20px;
}
.facultyName {
  font-weight: 500;
  font-size: 16px;
}
.subjectCard {
  display: flex;
  padding: 15px 10px;
  flex-direction: column;
  width: 300px;
  cursor: pointer;
  transition: background-color 0.5s;
  background-color: #e1dde7;
}

.subjectCard:hover {
  background-color: #c8c6cd;
}
.subjectLogo {
  display: flex;
  align-self: center;
  margin-bottom: 10px;
}

.facultyText {
  text-align: center;
  font-size: 18px;
  font-family: "Inter";
  font-weight: 500;
}
